.container
{
   margin :0;
   padding: 0;
   font-size: 62.5%;
   box-sizing: border-box;
   width: 97vw;
}
.heading
{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-top: 1rem;

}

.heading span
{
   color : gold;
   font-weight: 1000;
   
}
.header
{
   display: flex;
   justify-content: center;
   align-items: center;
   color:rgb(218,165,32);
   font-weight: 1000;
  font-size: xx-large;
}



@media only screen and (max-width: 480px) {
    .heading
    {
      font-size: large;
    }


    
    .heading {
      width: 100vw;
      margin: 0;
      padding: 0;
   
    }
  
 
  
 }
